/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 14px;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;

  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Fraunces', serif;*/

  font-weight: 500;

  background-color: #F1E7E0;
}

img {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.flex-box {
  display: flex;
  width: 40rem;
}

.flex-box img {
  flex-basis: 100%;
}

.flex-box .info-perfume {
  flex-basis: 90%;
}

.info-perfume {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2.25rem;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  gap: 10px;
}

.info-perfume h1 {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  line-height: 2rem;
}

#perfume {
  letter-spacing: 4px;
  font-size: 0.85em;
  opacity: 0.5;
}

#text-info-perfume {
  opacity: 0.6;
}

.info-price {
  display: flex;
  gap: 13px;
  align-items: center;
}

#discount-price {
  color: #367761;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 2rem;
}

#before-price {
  opacity: 0.6;
}

button {
  padding: 13px 10px;
  border-radius: 5px;
  border: none;
  background-color: #367761;
  color: white;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

button svg {
  margin-right: 8px;
}